body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, red, yellow); /* Standard syntax */
}

h1 {
  font: 600 2.5rem "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.randomcolor {
  font-size: 20px;
  /* margin: 10px; */
  cursor: pointer;
  transition: 0.3s;
  /* border-radius: 5px; */
}

h3 {
  font: 900 0.9em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}
